.main-header {
  background-color: #fffedd;
  height: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-size: 50px;
  text-alignment: center;
  color: #0083ff;
}
* {
 background-color: #00233c; 
}
