.main-header {
  background-color: #fffedd;
  height: 100px;
  margin-top: 10px;
  font-size: 3em;
  text-align: center;
  color: #0083ff;
}
.tab {
 background-color: #fffdb5;
 height: 40px;
 width: 25%;
 display: inline-block;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 color: #0083ff;
 font-size: 2em;
 text-align: center;
}
.tab:hover {
 background-color: #fffc7f;
 height: 40px;
 width: 25%;
 display: inline-block;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 color: #0083ff;
 font-size: 2em;
 text-align: center;
}
* {
 background-color: #00233c; 
}
