.main-header {
  background-color: #fffedd;
  height: 100px;
  margin-top: 10px;
  font-size: 3em;
  text-align: center;
  color: #0083ff;
}
.tab {
 background-color: #fffdb5;
 height: 40px;
 width: 250px;
 display: inline-block;
 border-radius: 10px;
}
* {
 background-color: #00233c; 
}
